<input type="text" @bind-value="@input_values" />
<input type="button" value="Haga clic aqui" @onclick="ChangeText" />

<div>
    @message
</div>

@code {
    [Parameter]
    public string Message { get; set; }

    string message = "Un contenido";
    string input_values = "";

    protected override async Task OnInitializedAsync()
    {
        message = Message;
    }

    private void ChangeText()
    {
        message = input_values;
    }
}
